.conteiner-titulo {
  position: relative;
  display: inline;
  margin: 0 0 0 1vw;
  height: 5vh;
}


.titulo-principal {
  font-size: 1.22rem; 
  font-weight: 600; 
  margin: 0;
}

.titulo-secundario {
  font-weight: 420; 
  position: relative;
  font-size: 0.95rem; 
  color: gray;
  margin-left: 0.2vw;
  top: 1px;
}