.conteiner-titulo {
  display: inline;
  margin: 0.2vh 2.5vw 2vh 0.6vw;
}


.titulo-principal {
  font-size: 1.22rem; 
  font-weight: bold; 
  margin-right: 0.4vw;
}

.titulo-secundario {
  font-size: 0.95rem; 
  color: gray;
  margin-left: 0;
}