.conteiner-titulo {
  position: relative;
  display: inline;
  margin: 0.5vh 0 0 1.7vw;
  height: 5vh;
}

.titulo-principal {
  font-size: 1.20rem; 
  font-weight: 600; 
  color: var(--main-text-color);
  margin: 0;
}

.titulo-secundario {
  font-weight: 400; 
  position: relative;
  font-size: 0.95rem; 
  color: gray;
  margin-left: 0.2vw;
  top: 0.8px;
}