.tabela {
  width: 100%;
  border-collapse: collapse;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  margin: 0vh 0;
  font-size: 0.9rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tabela th,
.tabela td {
  border: 1px solid #074c9629;
  padding: 6px;
  cursor: pointer;
}

.tabela th:hover {
  background-color: var(--light-blue);
}

.tabela th {
  background-color: var(--blue);
  font-weight: 400;
  text-align: center;
  color: white;
  height: 2.8vh;
}

.tabela td {
  height: 2.3vh;
}

.tabela tr:hover {
  background-color: #c0c0c530;
}

.pagination {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 1vh;
  justify-content: space-between;
  margin: 4vh 0 2vh 0;
  align-items: center;
  font-size: 15px;
  cursor: default;
}

.pagination-page-slider {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
  left: 50%;
}

.indice {
 margin: 0;
}

.pagination button {
  margin: 2vh 5px;
  padding: 3px 0px;
  cursor: pointer;
  background: var(--blue);
  color: white;
  width:2vw;
  height:4vh;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pagination button:disabled {
  cursor: default;
}

.pagination button:disabled:hover {
  background: var(--blue);
}

.pagination button:hover {
  background: #074c96;
}

.page-size {
  margin-left: 4.5vw;
  display: flex;
  align-items: center;
  width: 15vw;
}

.page-size label{
  height: 3vh;
}

.page-size select {
  border:0.5px solid white;
  position: relative;
  margin-left: 0.4vw;
  padding: 0.2rem 1rem 0.2rem 0.2rem;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: #ffffff11;
  appearance: none; 
  -webkit-appearance: none; 
  -moz-appearance: none; 
  z-index: 5;
  height: 3vh;
  cursor: pointer;
}

.page-size select:hover {
  border:0.5px outset;
  border-radius: 4px;
  background-color: rgba(230, 224, 224, 0.062);
}

.page-info {
  margin-right: 4.5vw;
}

.icone-tabela {
  position: relative;
  top: 0.1vh;
  right: 1.1vw;
  color: rgb(33, 32, 32);
  z-index: 1;
}

.page-size select:focus,
.page-size select:active {
  border:0.5px outset;
  border-radius: 4px;
  outline: none; 
}


.table-container {
  display: flex;
  justify-content: center;
  width: 91%;
  overflow-x: scroll;  
  margin: 0;
}

.table-container-sistema {
  justify-content: center;
  width: 90.5%;
  overflow-x: scroll;  
  margin: 0;
}

.table-container::-webkit-scrollbar,
.table-container-sistema::-webkit-scrollbar {
  height: 7px;
}

.table-container::-webkit-scrollbar-thumb,
.table-container-sistema::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.table-container::-webkit-scrollbar-track,
.table-container-sistema::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
}

.tabela-sistema {
  width: 100% ;
  border-collapse: collapse;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  margin: 20px 0;
  font-size: 0.9rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  table-layout: auto;
}

.tabela-sistema th,
.tabela-sistema td {
  border: 1px solid #074c9629;
  padding: 6px;
  height: 3vh;
  cursor: pointer;
  min-width: 7vw;
  width: max-content;
}

.tabela-sistema th:hover {
  background-color: var(--light-blue);
}

.tabela-sistema th {
  background-color: var(--blue);
  font-weight: 400;
  text-align: center;
  color: white;
  height: 2.3vh;
}

.tabela-sistema td {
  height: 3vh;
}

.tabela-sistema tr:hover {
  background-color: #c0c0c530;
}