/* Tooltip para as abas feito com css*/
// .delete-button::before,
// .delete-button::after,
// .delete-edit-button::before,
// .delete-edit-button::after,
// .settings-button::before,
// .settings-button::after,
// .add-button::before,
// .add-button::after {
//   --scale: 0;
//   position: absolute;
//   bottom: 5vh;
//   transform: scale(var(--scale));
//   transition: 0.17s transform ;
//   box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
// }


// .delete-button::before,
// .delete-edit-button::before,
// .settings-button::before,
// .add-button::before {
//   color: rgb(255, 255, 255);
//   font-size: 0.8rem;
//   font-weight: 500;
//   content: attr(data-tooltip);
//   height: 1.7vh;
//   width: max-content; 
//   padding: 0.6rem;
//   background: var(--semisolid-grey);
//   border-radius: 0.2rem;
// }

// .delete-button:hover::before,
// .delete-edit-button:hover::before,
// .settings-button:hover::before,
// .add-button:hover::before {
//   --scale: 1;
// }

// .delete-button.active::before,
// .delete-button.active::after,
// .delete-edit-button.active::before,
// .delete-edit-button.active::after,
// .settings-button.active::before,
// .settings-button.active::after,
// .add-button.active::before,
// .add-button.active::after {
//   display: none;
// }
/*  */

@mixin tooltip($height) {
  position: relative;
  
  &::before {
    --scale: 0;
    content: attr(data-tooltip);
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
    font-weight: 550;
    height: 1.7vh;
    width: max-content;
    padding: 0.6rem;
    background: var(--semisolid-grey);
    border-radius: 0.2rem;
    position: absolute;
    bottom: $height;
    transform: scale(var(--scale));
    transition: 0.17s transform;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }

  &:hover::before {
    --scale: 1;
  }

  &.active::before {
    display: none;
  }
}



.search-button {
  font-weight: 500;
  display: flex;
  margin-left: 0vw;
  padding: 0vh 0.9vw;
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  align-items: center;
  height: 4vh; //anteriormente o padrão era 4.2vh , ainda não me decidi
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  gap: 0.3vw;
}

.delete-button,
.delete-edit-button,
.settings-button {
  display: flex;
  padding: 10px 20px;
  background-color: white;
  color: var(--dark-blue);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  // margin-left: 0.5vw;
  width: 2vw;
  align-items: center;
  justify-content: center;
  height: 4vh;
  border: 2px outset var(--blue);
  border-radius: 2px;
  @include tooltip(5.5vh);
}

.delete-button {
  color: rgb(168, 11, 11);
  border: 2px outset rgba(157, 10, 10);
}

.delete-button:hover {
  color: rgb(236, 20, 20);
}

.search-button:hover,
.add-button:hover {
  background-color: var(--light-blue);
}

.settings-button:hover {
  color: #0d3cbefa;
}

.icon {
  font-size: 10px;
}


.add-button {
  font-weight: 500;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center;
  margin-left: 2.2vw;
  padding: 0vh 0.9vw;
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  width: 5vw;
  height: 4vh;
  gap: 0.3vw;
  
}

@mixin botao-editar(){
  cursor: pointer;
  width: 2vw !important;
  height: 1.4vw !important;
}

.back-button {
  position: relative;
  border: none;
  background-color: transparent;
  box-shadow: none;
  height: max-content;
  cursor: pointer;
  height: 1vh;
}

.save-button {
  padding: 5px 10px;
  background-color: var(--blue) !important;
  border: 2px outset var(--light-blue) !important;
  border-radius: 3px !important;
  margin-left: 0.65vw !important;
  @include botao-editar;
  @include tooltip(4.9vh);
}

.delete-edit-button {
  display: flex;
  padding: 5px 10px;
  background-color: red;
  color: white;
  border-radius: 3px;
  margin-left: 0.5vw;
  align-items: center;
  justify-content: center;
  border: 2px outset red;
  @include botao-editar;
  @include tooltip(4.9vh);
}

.cancel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: white !important;
  border: 2.1px outset var(--blue) !important;
  border-radius: 3px !important;
  @include botao-editar;
  @include tooltip(4.9vh);
}

.history-button {
  display: flex;
  padding: 5px 10px;
  background-color: var(--blue);
  color: white;
  border-radius: 3px;
  margin-left: 0.5vw;
  align-items: center;
  justify-content: center;
  border: 2px outset var(--blue);
  @include botao-editar;
  @include tooltip(4.9vh);
}

.export-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
  background-color: white !important;
  width: 1.8vw !important;
  height: 1.6vw !important;
  border: 2.1px outset black !important;
  border-radius: 3px !important;
  @include tooltip(4.9vh);
}

.demand-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white !important;
  width: 1.8vw !important;
  height: 1.6vw !important;
  border: 2.1px outset black !important;
  border-radius: 3px !important;
  @include tooltip(4.9vh);
}

@mixin botao-sidebar(){
  display: flex;
  font-weight: 500;
  font-size: 0.8rem;
  cursor: pointer;
  width: 13.75vw;
  height: 4.4vh; 
  gap: 0.2vw;
  align-items: center;
  border-radius: 5px;
  padding: 0vh 0.9vw;
}
.pesquisar-sidebar{
  background-color: var(--light-blue);
  color: white !important;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  @include botao-sidebar();
}

.fechar-sidebar{
  background-color: rgba(200, 18, 18, 0.842);
  color: white !important;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  @include botao-sidebar();
}

.limpar-sidebar{
  background-color: var(--blue);
  color: white !important;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  @include botao-sidebar();
}