.filtros {
  position: relative;
  display: flex;
  width: 100%;
  margin: 2vh 0 0.2vh 0;
}

.input-container-pai {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 65%;
  left: -4.4vw;
  height: 35px;
  gap: 2.2vw;
}

.input-container-fornecedores {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 90.7%;
  left: -4.4vw;
  height: 35px;
  gap: 2.2vw;
}

.input-container-info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 64.3%;
  left: -4.4vw;
  height: 35px;
  gap: 2.2vw;
}




.button-container {
  display: flex;
  align-items: center;
}

