.input-wrapper {
  position: relative;
  // padding-right: 2.1vw !important;
  flex-grow: 1;
}

.input-label {
  position: absolute;
  top: 50%;
  left: 0.7vw;
  transform: translateY(-50%);
  color: #8080a1;
  pointer-events: none;
  transition: all 0.2s ease;
  font-size: 0.96rem;

}

.search-input {
  padding:0 0.2vw 0 0.85vw;
  border: 1.8px solid #e6e7e9;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 3.9vh;
  transition: border 0.3s ;
  flex-grow: 1;
}

.search-input.curto {
  padding: 0 10px 0 14px;
  border: 1.8px solid #e6e7e9;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 12.8vw;
  height: 3.9vh;
  transition: border 0.3s ;
}

.search-input.longo {
  padding: 0 10px 0 14px;
  border: 1.8px solid #e6e7e9;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 38.5vw;
  height: 3.9vh;
  transition: border 0.3s ;
}

.search-input:focus {
  border: 1.8px solid #16171a;
}