
.modal-filtros {
  width:15vw;
  height: 100vh;
  margin: auto;
  padding: 1.6vh 1vw;
  border-radius: 4px;
  position: fixed;
  top: 0;
  left: 83vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--blue);
  z-index: 200;
}

.input-label-modal {
  position: relative;
  text-align: start;
  padding: 1vh 1vw;
  justify-content: flex-start;
  font-family: "Fira Sans", sans-serif;
  color: black;
}

.label-modal {
  font-size: 0.92rem;
  width: 100%;
  padding: 1vh 0.2vw ;
}

.input-modal {
  padding: 10px 10px 10px 14px;
  border: 1.8px solid #e6e7e9;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 16vw;
  height: 11px;
  transition: border 0.3s ;
}

.search-input-modal.pequeno {
  padding: 10px 10px 10px 14px;
  border: 1.8px solid #e6e7e9;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 10vw;
  height: 11px;
  transition: border 0.3s ;
}

.search-input-modal.longo {
  padding: 10px 10px 10px 14px;
  border: 1.8px solid #e6e7e9;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 40vw;
  height: 11px;
  transition: border 0.3s ;
}


.corpo-modal-filtros {
  margin: 1vw;
  border: 3px outset rgba(137, 138, 144, 0.059);
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 90.2%;
  height: 90%;
  gap: 1vw;
  padding: 3vh 0.1vw 3vh 0.1vw;
}

.texto-corpo-modal {
  gap: 0.2vw;
  font-size: 0.97rem;
  font-weight: 400;
  width: 100%;
  display: flex;
  align-items: center;  
  text-align: start;
  padding: 0 0vw;
}

