.gestao {
  position: absolute;
  margin: 2vh 0 0 10vw;
  width: 85%;
  height: 85%;
  border: 2px solid rgba(171, 167, 167, 0.299);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  padding: 1vh 0 0 1vw;
}


.area-superior {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 1vh;
  margin-bottom: 2vh;
  width: 92%;
}

.titulo {
  position: relative;
  left: 0px;
  width: 100%;
  margin: 0;
  text-align: start;
}

.tabs {
  display: flex;
  justify-content: start;
  margin: 0 0 2vh 2vh;
  width: 100%;
  min-height: 54px;
}

.tab {
  font-style: bold;
  width: 6vw;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  border-radius: 200px;
  transition: background-color 0.3s;
}

.tab:hover {
  background-color: #00336e14;
}

.tab.active {
  background-color: #00336e;
  color: white;
  box-shadow:0 2px 4px rgba(0, 0, 0, 0.208);
  border: 1px outset rgba(171, 167, 167, 0.299);
}

.tab.active:hover {
  background-color: #074c96;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.titulo1 {
  position: relative;
  font-size:1rem;
  width: 100%;
  text-align: start;
  padding-left: 1vw;
}