.gestao {
  position: absolute;
  margin: 2vh 0 0 10vw;
  width: 85%;
  height: 85%;
  border: 2px solid rgba(171, 167, 167, 0.299);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  padding: 1vh 0 0 0;
  border-top: none;
}

.gestao::after {
  content: '';
  position: absolute;
  top: 0;
  right: -1vw;
  width: 1vw; 
  height: 5vh; 
  background-color: #ffffff; 
}


.area-superior {
  display: flex;
  flex-wrap: wrap;
  justify-content: start; 
  margin-top: 1vh;
  margin-bottom: 2vh;
  width: 100%;
}

.titulo {
  position: relative;
  left: 0px;
  width: 100%;
  margin: 0;
  text-align: start;
}

.tabs {
  display: flex;
  position: relative;
  width: 100%;
  height: 5vh;
  top: -1vw;
  left: 0vw;
  justify-content: start;
  margin: 0 0 0.5vh 0;
  gap:0.05vw;
  
  border-bottom: 2px solid rgba(171, 167, 167, 0.299);
  
}

.conteiner {
  height: 5vh;
  width: 7vw;
}

.conteiner.active {
  width: 4.35vw;
}



.tab {
  font-size: 0.8rem;
  height: 5vh;
  width: 7vw;
  padding: 10px 8px 20px;
  align-items: center;

  color: white;
  background-color: var(--blue);

  transition: background-color 0.3s;
  cursor: pointer;

  box-shadow:0 2px 4px rgba(0, 0, 0, 0.208);
  border: 2px outset rgba(255, 255, 255, 0.299);
  border-radius: 4px;
}

.tab:hover {
  background-color: var(--light-blue);
}

.tab.active {
  font-size:1px;
  height: 5.2vh;
  width: 4.2vw;

  background-color: white;
  
  cursor: default;
  box-shadow:none;
  border: 1px outset rgba(255, 255, 255, 0.299);
  border-top: 2.5px inset rgba(255, 255, 255, 0.299);
  border-bottom: none;
  
  
}

.tab.active:hover {
  background-color: #ffffff;
  
}


.tab-icon {
  display: none;
}

.tab-icon.active {
  display: block;
  position: relative;
  bottom: 4vh;
 
  color: rgb(30, 29, 29);
  transition: transform 0.2s;
}

.tab-icon.active:hover {
  transform: scale(1.2);
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.icone-tab {
  color: var(--blue);
}




