.conteiner-gestao {
  align-items: start;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: max-content;
  justify-content: flex-start;
  margin: 8vh 0 0 5vw;
  padding: 1rem 0 0vh 0;
  border: 3px solid rgba(171, 167, 167, 0.299);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: rgb(252, 252, 255);
}

.gestao {
  background: white;
  position: relative;
  margin: 0.1vh 0 0vh 0.8vw;
  width: 99%;
  height: max-content;
  min-height: 71vh;
  
  padding: 0 0 10vh 0;
  
  z-index: 1;
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
  border: 2px solid rgba(171, 167, 167, 0.299);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  border-top: none;
}


/* 
.gestao::after {
  content: '';
  position: absolute;
  top: 0;
  right: -0.5vw;
  width: 0.5vw; 
  height: 5.1vh; 
  background-color: #ffffff; 
} */



.area-superior {
  display: flex;
  flex-wrap: wrap;
  justify-content: start; 
  margin-bottom: 2vh;
  width: 100%;
}

.titulo {
  position: relative;
  left: 0px;
  width: 100%;
  margin: 0;
  text-align: start;
}

.tabs {
  display: flex;
  position: relative;
  width: 100%;
  height: 5vh;
  top: -0.4vw;
  left: -0.1vw;
  font-weight: 500;
  justify-content: start;
  margin: 0 0 1vh 0;
  gap:0.05vw;
  z-index: 1;
  border-bottom: 2px solid rgba(171, 167, 167, 0.299);
  background: rgb(252, 252, 255);
}


.conteiner::before,
.conteiner::after {
  --scale: 0;
  position: absolute;
  bottom: 5.5vh;
  transform: scale(var(--scale));
  transition: 0.17s transform ;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.conteiner::before {
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  font-weight: 500;
  content: attr(data-tooltip);
  height: 1.7vh;
  width: max-content;
  max-width: 100%;  
  padding: 0.8rem;
  background: var(--semisolid-grey);
  border-radius: 0.2rem;
}

.conteiner:hover::before {
  --scale: 1;
}

.conteiner.active::before,
.conteiner.active::after {
  display: none;
}

.tab {
  font-size:1px;
  height: 5vh;
  width: 4.2vw;
  transition: width 0.4s, font-size 0.4s, background-color 0.4s;

  color: white;
  background-color: var(--blue);
  box-shadow:0 2px 4px rgba(0, 0, 0, 0.208) inset;
  border: 2px outset rgba(255, 255, 255, 0.299);

  
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  cursor: pointer;
  
}

.tab:hover {
  background-color: var(--light-blue);
}

.conteiner:focus{
  width: 8vw;
  background-color: white;
  
}

.tab.active {
  width: 8vw;
  font-size: 0.9rem;
  font-weight: 500;
  height: 5.2vh;
  
  padding: 10px 8px 20px;
  align-items: center;

  color: rgb(52, 51, 51);
  background-color: white;

  transition: background-color 0.3s, width 1s;

  
  
  
  cursor: default;
  


  box-shadow:none;
  border: 2px inset rgba(255, 255, 255, 0.299);

  border-bottom: none;
  
}


.tab-icon {

  width: 4.2vw;
  display: block;
  position: relative;
  bottom: 3.8vh;
 
  color: rgb(30, 29, 29);
  transition: transform 0.2s;
  cursor: pointer;
}

.tab-icon.active {
  display: none;
  cursor: default;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.icone-tab {
  color: white;
}




