.area-superior-editar {
  padding: 0.5vh 0 0 1vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; 
  margin:0vh 0 0 0;
  width: auto;
  height: 4.78vh;
  align-items: center;
  background-color: rgba(107, 110, 125, 0.051);
}

.area-superior-texto-editar{
  display: flex;
  align-items: center;
}

.titulo-editar {
  padding: 0.5vh 0 0 1vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;     
  margin:0vh 0 0 0;
  width: 30vw;
  align-items: center;
}

.conteiner-botoes {
  position: absolute;
  top: 1vh;
  right: 1vw;
  display: flex;
  align-items: center;
  width: max-content; 
  margin: 0 1.2vw 0 0; 
  gap: 0.14vw;
}

.corpo-editar {
  padding: 6.4vh 2vw 2vh 3.4vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 50vh;
  height: max-content;
  display: flex;
  font-size: 1.2rem;
  align-content: start;
}

.input-editar {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: max-content;
  height: 22%;
  margin: 0 0 1.7vh 0;
}

.texto-input {
  padding: 0 0 0 0.2vw;
  text-align: start;
  font-size: 1.05rem;
  margin: 0 0 0.3vh 0.1vw;
  color: var(--blue);
  width: 98%;
  text-wrap: nowrap;
}

.box-input {
  margin: 0.6vh 0 0 0;
}

.area-permissoes{
  width: 80vw;
  margin: 0 30vw 5vh 0;
  padding: 0 2vw 0 0;
}

.area-usuarios{
  width: 80vw;
}

.area-usuarios-titulo{
  display: flex;
  width: 80vw;
  gap: 1vw;
  align-items: center;
  // height: 10vh;
}